:root {
  --primary:rgba(30, 131, 106, 0.671);
  --secondary: #78cab3;
  --tertiary: #f5272e;  
  --light-dark: #788585;
  --dark: #283544;
  font-size: 40px;
  box-sizing: border-box;
}

body {
  background-color: var(--secondary);
  font-family: system-ui;
  font-size: 40px;
  color: var(--dark);
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
}
#list {
  color: var(--dark);
}

h1, h2, h3, h4 {
  font-weight: 400;
  color: var(--dark);
  line-height: 1.25;
}

main {
  margin: 20px auto;
  width: 100%;
}

/* assigns colors based on UVI danger */

.low {
  background-color: var(--primary)
}
.moderate {
  background-color: rgb(228, 228, 22);
}
.high {
  background-color: rgb(216, 151, 31);
}
.very-high {
  background-color:  var(--tertiary);
}

.btn {
  padding: 5px 5px;
  width: 100%;
  margin: 5px 0;
  color: var(--dark);
  background-color: var(--tertiary);
  box-shadow: 3px 3px var(--dark);

}

.btn:hover {
  color: var(--dark);
  background-color: var(--tertiary);
  transform: translate(0, 0);
  box-shadow: 2px 2px var(--dark);
}


.hero {
  padding: 3% 4%;
  background-color: var(--dark);
  color: var(--primary);
  text-align: center;
}

.title {
  font-weight: 500;
  background-color: var(--tertiary);
  color: var(--dark);
  padding: 0 10px;
  border-radius: 10px; 
}

.icon {
  padding:5px;
  margin: 0 5px;
}

.card {
  margin:10px, 0px;
  font-size: 40px;


}

.card-header {
  color: var(--tertiary);
  background-color: var(--dark);
  padding: 5px;

}

.card-body {
  padding: 5px;
}

.form-input {
  width: 100%;
  padding: 5px;
  margin: 5px 0;
  border: 2px solid var(--light-dark);
}
.fiveDay {
  background-color: var(--dark);
  color: var(--tertiary);
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media (min-width: 768px) { 
 body {
   font-size:50px;
 }
 h1, h2, h3, h4 {
  font-weight: 200;
  font-size: 50px !important;
 }


 }

